body{
    margin: 0;
    padding: 0;
    background: #34495e;
}

.box{
    position: absolute;
    top : 40px;
    right: 40px;
    padding: 5px;
    background: #f1f1f1;
}

.box a{
    width : 40px;
    height: 40px;
    float: left; 
    /* 원래 웹페이지에서 이미지를 어떻게 띄워서 텍스트와 함께 배치할 것인가에 대한 속성*/
    /* 한글에 있는 사진에 관한 정렬 중, 사진이 텍스트를 감추지 않는 정렬에 해당*/
    margin: 5px;
    text-indent: -9999px; 
    /*들여쓰기*/
    /*큰 음수값을 주어 접근성은 유지하되 텍스트를 숨기는 데에도 사용*/
}

#red{ background: red; }
#blue{ background: blue; }
#orange{ background: orange; }
#green{ background: green; }
#pink{ background: pink; }