body{
    margin : 0;
    padding : 0;
    background: #34495e;
}

.eyes{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.eye{
    width: 240px;
    height: 120px;
    background: white;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /*요소의 박스에 내용이 더 길결우 어떻게 보일지!*/ 
}

.ball{
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    border: 15px solid #333;
}